body {
    font-family: Lobster, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
  }
  
  #carta {
    position: relative;
    opacity: 0;
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #mensaje {
    opacity: 1;
    color: #333;
    font-size: 16px;
    line-height: 1.5;
  }
  
  h1, p {
    margin: 0 0 10px;
  }
  
  h1, h2 {
    font-weight: bold;
    text-align: center;
    color: #ff3366;
  }
  
  #botonAbrir {
    background-color: #ff3366;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    outline: none;
  }

  #iconoFlotante {
    position: relative;
    width: 30px; /* ajusta el tamaño según tu icono */
    z-index: 1; /* asegúrate de que esté por debajo del contenido principal */
  }
  
  #rose, .rose{
    position: absolute;
    width: 50px; /* ancho inicial */
    height: 50px; /* alto inicial */
    /*background-image: url('../assets/sunflower.svg');  imagen de la rosa */
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  
  